{% extends "base.html" %}
{% block title %} Post - 수정 {% endblock %}
{% block head %}
    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.0.0/quill.js"></script>
    <script src="//cdn.quilljs.com/1.0.0/quill.min.js"></script>
    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- Create the editor container -->
  <form class="form-post" enctype="multipart/form-data"  action="{{ url_for('.create') }}" method="post">
    {{form.hidden_tag()}}

    {{ form.title(class="form-control", id="postContent", placeholder="Title") }}
    <div id="editor-container">
    {{ form.content(class="form-control", placeholder="Type...") }}
    </div>
    {{ form.submit(class="btn btn-block btn-lg btn-primary create-post") }}
  </form>
{% endblock %}