{% extends 'base.html' %}

{% block content %}
  <form class="form-login" action="{{ url_for('auth.login') }}" method="post">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
    </div>
    {{ form.hidden_tag() }}
    <div class="form-label-group">
      {{ form.username(class="form-control", placeholder="Username") }}
    </div>
    <div class="form-label-group">
      {{ form.password(class="form-control", placeholder="Password") }}
    </div>
    <div class="checkbox mb-3">
      <label>
        {{ form.remember_me(class="checkbox") }}
        {{ form.remember_me.label.text }}
      </label>
    </div>
    {{ form.submit(class="btn btn-block btn-lg btn-primary") }}
    <a href="{{ url_for('auth.signup') }}" class="text-primary btn btn-block btn-default">Create an account</a>
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <p class="text-danger">
      {{ msg }}
    </p>
    {% endfor %}
    {% endwith %}
  </form>
{% endblock %}