{% extends 'base.html' %}

{% block content %}
  <form class="form-signup" action="{{ url_for('auth.signup') }}" method="post">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    </div>
    {{ form.hidden_tag() }}
    <div class="form-label-group">
      {{ form.email(class="form-control", placeholder="Email address") }}
    </div>
    <div class="form-label-group">
      {{ form.username(class="form-control", placeholder="Account") }}
    </div>
    <div class="form-label-group">
      {{ form.password(class="form-control", placeholder="Password") }}
    </div>
    {{ form.submit(class="btn btn-block btn-lg btn-primary") }}
  </form>
{% endblock %}