<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!--static 폴더 안의 resource file을 linking 할 때-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="script" href="{{ url_for('static', filename='main.js') }}">
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <!--before the content, the template loops over each message returned by `get_flashed_messages()`. -->
  <!--You used flash() in the views to show error messages,-->
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>